.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 48px;
}

.user_list {
  list-style-type: none;
  margin-top: 20px;
  font-size: 48px;
  font-weight: bold;
  color: red;
}

